<!--
Author: Tanner Kern
Date: 1/5/2021
Group: LearnLogic
Site: LearnLogic.today
Purpose: Homepage
-->

<!DOCTYPE html>

<html>

<head>
    <title>Learn Logic</title>
    
    <link rel="stylesheet" href="frontPage.css">
    <link rel="stylesheet" href="frontPage_mainSection.css">
    <link rel="stylesheet" href="frontPage_subSection1.css">
    <link rel="stylesheet" href="frontPage_subSection2.css">
</head>

<body>
    <div class="containerSpan">
        <div class="container">
            <div class="flexLogo">
                <a class="logoContainer" href="/">
                    <img class="logo" src="Electronic_Circuit.png">
                </a>
            </div>
            <div class="flexCenter">
                <a class="content" href="">Explore</a>
                <a class="content" href="learn">Learn</a>
                <a class="content" href="#contact">Support</a>
            </div>
            <div class="flexAccount">
                <a class="login" href="login">Login</a>
                <a class="signUp" href="signup">Sign Up</a>
                <!-- <button class="signUp" href="signup">Sign Up</button> -->
            </div>
        </div>
    </div>

    <div class="mainSection">
        <div class="mainSectionLeft">
            <p class="mainSectionHeader">Learn how Processors work.</p>
            <p class="mainSectionText">Learn the basics of how a processor function through a set of interatctive lessons that'll have you building you very own simple computer.</p>
        </div>
        <div class="mainSectionRight">
            <img class="mainSectionImage" src="mountain.jpg">
        </div>
    </div>
    
    <div class="subSection1Span">
        <div class="subSection1">
            <div class="subSection1Left">
                <img class="subSection1Image" src="mountain.jpg">
            </div>
            <div class="subSection1Right">
                <p class="subSection1Header">Need Somthing of Interest</p>
                <p class="subSection1Text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac volutpat dui. Mauris luctus metus eget placerat facilisis. Nam ultrices consectetur sapien id dapibus. Maecenas ac ligula a eros mattis sollicitudin id at mauris. Sed eget massa ullamcorper, iaculis orci eget, tristique ipsum. Morbi lacinia tortor ex, pretium elementum libero sodales eget.</p>
            </div>
        </div>
    </div>
    
    <div class="subSection2Span">
        <div class="subSection2">
            <div class="subSection2Right">
                <p class="subSection2Header">Need Somthing of Interest</p>
                <p class="subSection2Text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac volutpat dui. Mauris luctus metus eget placerat facilisis. Nam ultrices consectetur sapien id dapibus. Maecenas ac ligula a eros mattis sollicitudin id at mauris. Sed eget massa ullamcorper, iaculis orci eget, tristique ipsum. Morbi lacinia tortor ex, pretium elementum libero sodales eget.</p>
            </div>
            <div class="subSection1Left">
                <img class="subSection1Image" src="mountain.jpg">
            </div>
        </div>
    </div>
    
    <div class="subSection1Span">
        <div class="subSection1">
            <div class="subSection1Left">
                <img class="subSection1Image" src="mountain.jpg">
            </div>
            <div class="subSection1Right">
                <p class="subSection1Header">Need Somthing of Interest</p>
                <p class="subSection1Text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac volutpat dui. Mauris luctus metus eget placerat facilisis. Nam ultrices consectetur sapien id dapibus. Maecenas ac ligula a eros mattis sollicitudin id at mauris. Sed eget massa ullamcorper, iaculis orci eget, tristique ipsum. Morbi lacinia tortor ex, pretium elementum libero sodales eget.</p>
            </div>
        </div>
    </div>

</body>

</html>