<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <%- include('../partials/googleHead'); %>

    <link rel="stylesheet" type="text/css" href="signUp.css">
</head>
<body>

<!-- Header -->
<%- include('../partials/header'); %>

<!-- main section -->
<div class="wrapper">
    
    <div class="nested"> 
        
        <div class="boxBackground">
            <div class="form">
                <h2 class="textSignup">SIGN UP</h2> 
        
                <form method="post" action="/createAccount" id="signUp">
        
                    <p class="elt">
                        <input type="text" name="email" placeholder="Email" form="signUp">
                    </p>
            
                    <p class="elt">
                        <input type="text" name="username" placeholder="Username" form="signUp">
                    </p>
            
                    <p class="elt">
                        <input type="password" name="password" placeholder="Password" form="signUp">
                        
                    </p>
            
                    <p class="elt">
                        <input type="password" name="confirmPass" placeholder="Confirm Password" form="signUp">
                    </p>
        
        
                <p class="elt">
                    <input type="submit" name="submit" value="Submit" form="signUp">
                </p>
                
                <p class="elt">
                    <!--<div class="g-signin2" data-onsuccess="onSignIn"></div>-->
                    <div class="gbutton">
                        <!-- <div class="g-signin2" data-width="315" data-height="30" data-longtitle="true"></div> -->
                        <a class="googleButton" href="/google/callback">Log In With Google</a>
                    </div>
                </p>
        
                </form>
            </div>

        </div>      
        
    </div>

</div>

<!-- Footer -->
<%- include('../partials/footer'); %>


</body>
</html>