
body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; /* 475 75 px*/
    grid-gap: 1em;
}

.wrapper > div {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 1em;
    
}

.inner1 {
    height: 50px;
    background-image: url(clip1.jpeg);
}

.inner2 {
    height: 400px;
    width: 97%;
    font-family: Verdana, sans-serif;
    margin: auto;

}

.inner3 {
    height: 50px;
    background-image: url(clip3.jpeg);
}

.maintext {
    text-align: center;
    font-size: larger;
}



.containerAbout {
    display: flex;
    font-family: Verdana, sans-serif;
    color: black;
    font-size: medium;
    text-align: justify;
    border: 1px solid rgb(4, 0, 255);
    justify-content: space-between;

    margin: 15px 40px;
    
    

}

.info {
    flex:1;
    flex-basis: 50px;
    background-color: white;
    font-family: Verdana, sans-serif;
    width: 100px;
    padding: 10px 30px;
    border: 1px solid red;

    height: 280px;
    
    
}

.info2 {
    flex:1;
    background-color: white;
    font-family: Verdana, sans-serif;

    padding: 10px 30px;
    border: 1px solid red;

    

    
}

.info3 {
    flex:1;
    background-color: white;
    font-family: Verdana, sans-serif;
    
    padding: 10px 30px;
    border: 1px solid red;

    
    
}